// ////////////////////////////////////////////////////////////////// Typography
// =============================================================================
// -------------------------------------------------------------------- Families
$font_Primary: 'Urbanist';
$font_Secondary: 'Space Mono';

// ------------------------------------------------------------------- Font Size
// 12px / 16 = 0.75rem
// 0.75rem * 16 = 12px

// fontSize_Tiny | 6pt
// fontSize_Mini | 10.5pt
// fontSize_Regular | 12pt
// fontSize_Medium | 13.5pt
// fontSize_Large | 18pt
// fontSize_Huge | 105pt

$fontSize_Tiny: 0.512rem;
$fontSize_Mini: 0.875rem;
$fontSize_Regular: 1rem;
$fontSize_Medium: 1.125rem;
$fontSize_Huge: 8.75rem;

@mixin fontSize_Tiny { font-size: $fontSize_Tiny; }
@mixin fontSize_Mini { font-size: $fontSize_Mini; }
@mixin fontSize_Medium { font-size: $fontSize_Medium; }
@mixin fontSize_Huge { font-size: $fontSize_Huge; }

// ----------------------------------------------------------------- Font Weight
$fontWeight_Regular: 400;
$fontWeight_Medium: 500;
$fontWeight_Semibold: 600;
$fontWeight_Extrabold: 800;

@mixin fontWeight_Regular { font-weight: $fontWeight_Regular; }
@mixin fontWeight_Medium { font-weight: $fontWeight_Medium; }
@mixin fontWeight_Semibold { font-weight: $fontWeight_Semibold; }
@mixin fontWeight_Extrabold { font-weight: $fontWeight_Extrabold; }

// --------------------------------------------------------------------- Leading
// leading_Small | 13pt
// leading_Regular | 14pt
// leading_Medium | 15pt
// leading_Large | 20pt
// leading_MediumLarge | 26pt
// leading_ExtraLarge | 30pt
// leading_Huge | 45pt

$leading_Small: 0.813rem;
$leading_Medium: 0.875rem;
$leading_Regular: 1.25rem;
$leading_Large: 2.5rem;
$leading_Huge: 8.438rem;

@mixin leading_Small { line-height: $leading_Small; }
@mixin leading_Regular { line-height: $leading_Regular; }
@mixin leading_Medium { line-height: $leading_Medium; }
@mixin leading_Large { line-height: $leading_Large; }
@mixin leading_Huge { line-height: $leading_Huge; }

// -------------------------------------------------------------- Letter Spacing
$letterSpacing_ExtraSmall: -0.125em;
$letterSpacing_Regular: 0.026em;
$letterSpacing_Large: 0.063em;

// ////////////////////////////////////////////////////////////////////// Groups
// =============================================================================
@mixin header {
  @include fontSize_Huge;
  @include leading_Huge;
  @include fontWeight_Extrabold;
  letter-spacing: $letterSpacing_ExtraSmall;
}

@mixin subheading {
  @include fontSize_Large;
  @include leading_Large;
  @include fontWeight_Semibold;
  letter-spacing: $letterSpacing_Large;
}

@mixin h1 {
  @include fontSize_Huge;
  @include leading_Huge;
}

@mixin h2 {
  @include fontSize_Mini;
  @include leading_Large;
  @include fontWeight_Semibold;
}

@mixin h3 {
  @include leading_Large;
  font-size: 1.25rem;
}

@mixin textShadow {
  text-shadow: 0px 0.125rem 0.5rem rgba(0, 0, 0, 0.4);
}
