// ////////////////////////////////////////////////////////////////// Typography
// =============================================================================
// -------------------------------------------------------------------- Families
$font_Primary: 'Urbanist', helvetica, sans-serif;
$font_Secondary: 'Space Mono', courier, monospace;

// ------------------------------------------------------------------- Font Size
// 12px / 16 = 0.75rem
// 0.75rem * 16 = 12px

// fontSize_Tiny | 8pt
// fontSize_Mini | 14pt
// fontSize_Regular | 18pt
// fontSize_Medium | 20pt
// fontSize_Huge | 105pt

$fontSize_Tiny: 0.5rem;
$fontSize_Mini: 0.875rem;
$fontSize_Regular: 1.125rem;
$fontSize_Medium: 1.25rem;
$fontSize_Huge: 8.75rem;

@mixin fontSize_Tiny { font-size: $fontSize_Tiny; }
@mixin fontSize_Mini { font-size: $fontSize_Mini; }
@mixin fontSize_Regular { font-size: $fontSize_Regular; }
@mixin fontSize_Medium { font-size: $fontSize_Medium; }
@mixin fontSize_Huge { font-size: $fontSize_Huge; }

// ----------------------------------------------------------------- Font Weight
$fontWeight_Regular: 400;
$fontWeight_Medium: 500;
$fontWeight_Semibold: 600;
$fontWeight_Extrabold: 900;

@mixin fontWeight_Regular { font-weight: $fontWeight_Regular; }
@mixin fontWeight_Medium { font-weight: $fontWeight_Medium; }
@mixin fontWeight_Semibold { font-weight: $fontWeight_Semibold; }
@mixin fontWeight_Extrabold { font-weight: $fontWeight_Extrabold; }

// --------------------------------------------------------------------- Leading
// leading_Small | 13pt
// leading_Regular | 14pt
// leading_Medium | 15pt
// leading_Large | 20pt
// leading_MediumLarge | 26pt
// leading_ExtraLarge | 30pt
// leading_Huge | 45pt
$leading_Tiny: 0.8125;
$leading_Small: 1;
$leading_Regular: 1.2;
$leading_Large: 2.2;
$leading_Huge: 8;

@mixin leading_Tiny { line-height: $leading_Tiny }
@mixin leading_Small { line-height: $leading_Small; }
@mixin leading_Regular { line-height: $leading_Regular; }
@mixin leading_Large { line-height: $leading_Large; }
@mixin leading_Huge { line-height: $leading_Huge; }

// -------------------------------------------------------------- Letter Spacing
$letterSpacing_ExtraSmall: -0.125rem;
$letterSpacing_Regular: 0.026rem;
$letterSpacing_Large: 0.063rem;

// ////////////////////////////////////////////////////////////////////// Groups
// =============================================================================
@mixin header {
  @include fontSize_Huge;
  @include leading_Tiny;
  @include fontWeight_Extrabold;
  text-transform: uppercase;
  letter-spacing: $letterSpacing_ExtraSmall;
}

@mixin subheading {
  @include fontSize_Medium;
  @include leading_Large;
  @include fontWeight_Semibold;
  text-transform: uppercase;
  letter-spacing: $letterSpacing_Large;
}

@mixin h1 {
  @include fontSize_Huge;
  @include leading_Huge;
}

@mixin h2 {
  @include fontSize_Mini;
  @include leading_Large;
  @include fontWeight_Semibold;
}

@mixin h3 {
  @include leading_Large;
  font-size: 1.25rem;
}

@mixin textShadow {
  text-shadow: 0px 0.125rem 0.5rem rgba(0, 0, 0, 0.4);
}
